<div class="row">
  <div class="col-xs-12">
    <img src="" alt="" class="img-responsive">
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h2>Nazwa przepisu</h2>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
     <div class="btn-dropdown">
        <button 
          class="btn btn-primary dropdown-toggle" 
          type="button">
            Zarządzaj przepisem 
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li><a href="#">Do listy zakupów</a></li>
          <li><a href="#">Edytuj przepis</a></li>
          <li><a href="#">Usuń przepis</a></li>
        </ul>
     </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    opis
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    składniki
  </div>
</div>